html{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 30%;
    font-family: Arial;
}

#orange{
    color: orange;
}

h1{
    font-size: 100px;
}

#bigger{
    font-size: 50p;
}


*::-webkit-scrollbar{
    display: none;
}